<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center self-intro">
                <h2 class="section-heading">Chapter 1 - Begin</h2>
                <hr class="light">
                <img src="../../mypage/assets/img/self.jpg" class="img-responsive img-circle sr-button" alt="">
                <p class="text-faded" style="padding-top: 20px">
                    My name is <font style="font-family:Lucida Console;" color="white">Jodie</font>. I graduated at 
                    <font style="font-family:Lucida Console;" color="white">Stony Brook University</font> in Fall 2016 with
                    a <font style="font-family:Lucida Console;" color="white">B.S. in Computer Science</font>. 
                    I am interested in <font style="font-family:Lucida Console;" color="white">web development and project management</font>. 
                    While I enjoy working a in team environment, I am also confident in performing
                    individual tasks. Besides coding, I like to go swimming and do yoga too! It is always good to exercise a bit after
                    sitting in front of a computer for a long time!
                    
                </p> 
                <p class="text-faded">
                    This web site is created by using a <font style="font-family:Lucida Console;" color="white">Bootstrap</font> templates with some modifications. 
                    
                </p>
                <a href="#portfolio" class="page-scroll btn btn-default btn-xl sr-button">Continue!</a>
            </div>
        </div>
    </div>
</section>
