<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center self-intro">
                <h2 class="section-heading">Chapter 1 - Begin</h2>
                <hr class="light">
                <img src="../../mypage/assets/img/self.jpg" class="img-responsive img-circle sr-button" alt="">
                <p class="text-faded" style="padding-top: 20px">
                    Before diving in to the list of restaurants, I would like to tell you a little bit about myself.
                    My name is <font style="font-family:Lucida Console;" color="white">Jodie</font>. I am a 
                    <font style="font-family:Lucida Console;" color="white">software engineer</font>
                    mostly focusing on web application backend development. I graduated from 
                    Stony Brook University in 2016 with a
                    <font style="font-family:Lucida Console;" color="white">B.S. in Computer Science</font>. 
                    I always enjoyed exploring some new restaurants in NYC because there are always suprise in this 
                    most diverse and fast-paced city. 
                </p> 
                <p class="text-faded">
                    This web site is created by using <font style="font-family:Lucida Console;" color="white">Bootstrap</font> 
                    and <font style="font-family:Lucida Console;" color="white">Angular</font>.
                    
                </p>
                <a href="#portfolio" class="page-scroll btn btn-default btn-xl sr-button">Continue!</a>
            </div>
        </div>
    </div>
</section>
