<section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Chapter 2 - Journey</h2>
                    <hr class="primary">
                    <i class="material-icons md-72">place</i>
                    <p>Get ready for your food journey in NYC! Treat youself with some nice 
                        food and relief yourself from everyday stress.</p>
                </div>
            </div>
        </div>
        <!-- <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fas fa-battery-empty text-primary sr-icons"></i>
                        <h3>Start from zero</h3>
                        <p class="text-muted">It always starts with an idea. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Grow through learning </h3>
                        <p class="text-muted">Try to brainstorm and expend it.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa-4x far fa-question-circle text-primary sr-icons"></i>
                        <h3>Think to improve</h3>
                        <p class="text-muted">Identify the problems and make it better.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Code with passion</h3>
                        <p class="text-muted">Finally, it is created with all the love!</p>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div fxFlexFill> -->
        <div class="bg-light-gray container"  fxFlexFill fxLayout="row" fxLayout="row wrap" 
        fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="grid" fxLayoutAlign="center center">
            <div fxFlex="50" *ngFor="let restaurant of list">
                <mat-card class="example-card">
                    <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{ restaurant.name }}</mat-card-title>
                        <mat-card-subtitle>{{ restaurant.location }}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="{{restaurant.imgpath}}" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p> {{restaurant.review}} </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <div fxFlex></div>
                        <button mat-mini-fab (click)="openDialog(restaurant.id)">
                            <mat-icon>call_made</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
                    <!-- </div> -->
            </div>
        </div>
        <!-- </div> -->

</section>

