<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Thank you very much for visiting my web site!</p>
                <p>    
                    You are welcome to leave me any comments or messages by sending me an email! 
                    Also, please feel free to check out my Linkedin profile if insterested!
                </p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="material-icons md-48">launch</i>
                <p><a target="_blank" matTooltip="Linkedin" href="https://www.linkedin.com/in/kwyjodiecs">linkedin/kwyjodiecs</a></p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="material-icons md-48">alternate_email</i>
                <p><a matTooltip="Email">jodiekwy[at]gmail[dot]com</a></p>
            </div>
          </div>
      </div>
</section>