header .header-content .header-content-inner {
    font-family: 'Josefin Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
header .header-content .header-content-inner p {
    font-weight: 300;
    color: black;
    font-size: 16px;
    margin-bottom: 50px;
  }
  
@media (min-width: 768px) {
    header .header-content .header-content-inner {
        font-family: 'Josefin Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
      }
    header .header-content .header-content-inner p {
        font-family: 'Josefin Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 18px;
       max-width: 80%;
       margin-left: auto;
      margin-right: auto;
       color: white;
     }
  
}