<section class="bg-primary" id="resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>Chapter 3 - Discover</h2>
                <hr class="light">
                <img src="../mypage/assets/img/logo_b.png" class="sr-button" height="150" alt="logo">
                <p class="text-faded">Sometimes, it is not easy to get to know a person.  
                    Therefore, I am trying to tell you about myself.
                </p>
                <p class="text-faded"><font style="font-family:Lucida Console;" >
                    "This is important: to get to know people, listen, expand the circle of ideas.
                    The world is crisscrossed by roads that come closer together and move apart,
                    but they lead towards the Good."
                    </font> </p>
                <p class="text-faded">
                    <font style="font-family:Lucida Console;" >
                    — Pope Francis —
                    </font>
                </p>
                <a href="#portfolioModalResume" class="btn btn-default btn-xl sr-button" data-toggle="modal">
                    View Resume
                </a>
            </div>
        </div>
    </div>
</section>

<app-contact></app-contact>